@media only screen and (min-width: 1100px){

  *{
    margin: 0;
    padding: 0;
  }

  .hamburger-menu{
    display: none;
  }
  
  /*Add line-height*/
  
  body{
    background-color: #F2ECE2;
    width: 1347px;
    height: 1370px;
  }
  
  .logo{
    max-width: 123px;
    height: 100px;
    margin-left: 50px;
  }
  
  a{
    text-decoration: none;
    color: #1E5044;
  }

  a:hover{
    background-color: #729B79;
    text-decoration: none;
    color: #122E23;
  }
  
  nav ul li{
    list-style: none;
  }
  
  header{
    border: 1px #1E5044 solid;
    max-width: 1200px;
    height: 95px;
    margin: 23px 60px 23px 60px;
    padding: 10px 0px 10px 30px;
  }
  
  .links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 23px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 8vh;
  }
  
  .lista li{
    letter-spacing: 3px;
    margin-left: 15px;
    display: inline;
    float: right;
    color: #1E5044;
  }
  
  .lista{
    margin-left:90px;
  }
  
  main{
    width: 1200px;
    height: 829px;
    background-color: #ffffff;
    margin: 70px auto;
  }
  
  
  aside{
    width: 340px;
    height: 828px;
    background-color: #1E5044;
    float: left;
    background-color: #aa9f8c;
  }

  .img-aside{
    display: block;
    width: 200px;
    height: 150px;
    margin: 70px auto;
  }

    
  p{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align: left;
  }
  
  
  
  section{
    width: 790px;
    height: 828px;
    float: right;
    background-color: #aa9f8c;
  }
  
  .title-1{
    margin: 50px 0 20px 76px;
  
  }
  
  h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #1E5044;
  }
  
  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #1E5044;
    text-align: center;
    margin-top: 50px;
  }
  
  .lista2{
    padding: 0 0 0 85px;
  }
  
  .ja-cadastrado{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #122E23;
  }
  
  .title-2{
    margin: 50px 0 20px 76px;
  }
  
  .prg-2{
    margin: 100px 0 20px 30px;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #122E23;
  }
  
  
  footer{
    width: 100%;
    height: 280px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #1E5044;
  }
  
  .img-footer{
    width: 153px;
    height: 99px;
    float: right;
    padding: 50px 122px;
  }
  
  footer h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0 18px 122px;
    color: #1E5044;
  }
  
  footer ul{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 40px 122px;
    color: #122E23;
  }
  
  .footer-class{
    display: flex;
    line-height: 22px;
  }
  
  .footer{
    border-top: 1px solid black;
    width: 1216px;
    margin-left: 68px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  
  .footer h3{
    padding-top: 15px;
    padding-left: 40px;
  }
  
  .span1{
    color: #1E5044;
  }
  
  .span2{
    color: #AEF084;
  }


}
