@media only screen and (min-width: 1200px) {
  * {
    margin: 0 auto;
    padding: 0;
  }

  /*Add line-height*/

  .hamburger-menu{
    display: none;
  }

  body {
    background-color: #f2ece2;
  }

  .logo {
    max-width: 123px;
    height: 100px;
    margin-left: 50px;
  }

  p {
    margin: 25px 25px;
    font-family: "Roboto Mono", monospace;
    line-height: 30px;
  }

  a {
    text-decoration: none;
    color: #1e5044;
  }

  nav ul li {
    list-style: none;
  }

  header {
    border: 1px #1e5044 solid;
    max-width: 1200px;
    height: 95px;
    margin: 23px 60px 23px 60px;
    padding: 10px 0px 10px 30px;
    background-color: #f2ece2;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 23px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 8vh;
  }

  .lista li {
    letter-spacing: 3px;
    margin-left: 15px;
    display: inline;
    float: right;
    color: #1e5044;
  }

  .lista {
    margin-left: 90px;
  }

  .texto {
    width: 1000px;
  }

  p {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
  }

  main {
    width: 1200px;
    height: 2900px;
    margin: 70px auto 0;
  }

  .caixa-in-e, .caixa-in {
    float: left;
    width: 850px;
    height: auto;
    margin: 10px;
    margin: 10px 175px 0;
  }

  .caixa-in-mobile {
    display: none;
  }

  .fte {
    float: left;
    width: 200px;
    margin: 50px 20px 50px 0px;
    border: 1px solid #aef084;
    border-radius: 100%;
  }

  .ftd {
    float: right;
    width: 200px;
    margin: 50px 100px 50px 20px;
    border: 1px solid #aef084;
    border-radius: 100%;
  }

  .linha {
    float: left;
    margin-top: 150px;
    width: 100px;
    height: 0px;
    border-top: 1px solid #aef084;
  }

  h1 {
    font-size: 32px;
    color: #1e5044;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
  }

  .ti {
    color: #aef084;
  }

  h2 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 7px 0;
    text-align: center;
    color: #122e23;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    background-color: #aef084;
  }

  .curso {
    text-align: center;
    margin: 10px 0;
    color: #122e23;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
  }

  .h3r {
    float: left;
    margin-left: 90px;
    color: #122e23;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
  }

  .h3i {
    float: right;
    margin-right: 90px;
    color: #122e23;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
  }

  .textoe,
  .textod {
    float: left;
    border: 1px solid #aef084;
    border-radius: 20px;
    width: 400px;
    height: 150px;
    margin: 75px 0px 100px 20px;
  }

  .textod {
    margin: 75px 20px 100px 0px;
  }

  .sec-gabi,
  .sec-lucca,
  .sec-maria,
  .sec-nicolas,
  .sec-renan {
    position: absolute;
    width: 1200px;
    height: 50px;
  }

  .logo-social-gabi,
  .logo-social-maria,
  .logo-social-renan {
    float: left;
    width: 170px;
    height: 50px;
    margin-left: 200px;
  }
  .logo-social-lucca,
  .logo-social-nicolas {
    float: right;
    width: 165px;
    height: 50px;
    margin-right: 280px;
  }

  .sec-gabi {
    top: 1385px;
  }
  .sec-lucca {
    top: 1715px;
  }

  .sec-maria {
    top: 2055px;
  }
  .sec-nicolas {
    top: 2390px;
  }

  .sec-renan {
    top: 2735px;
  }

  .social {
    width: 40px;
    margin: 5px;
  }

  .git {
    position: absolute;
    width: 55px;
    margin: 5px;
    top: -8px;
  }

  footer {
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #1e5044 ;
  }

  .img-footer{
    width: 153px;
    height: 99px;
    float: right;
    padding: 20px 122px;
  }

  footer h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0 18px 122px;
    color: #1e5044;
  }

  footer ul {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 20px 0px;
    color: #122e23;
    margin-top: 25px;
  }

  .footer-class {
    display: flex;
    line-height: 22px;
  }

  .footer {
    border-top: 1px solid black;
    width: 1200px;
    
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-left: 68px;
    font-size: 16px;
  }

  .footer h3 {
    padding-top: 15px;
    padding-left: 40px;
  }

  .span1 {
    color: #1e5044;
  }

  .span2 {
    color: #aef084;
  }

  ul li a:hover{
    background-color: #729B79;
    text-decoration: none;
    color: #122E23;
  }
}
