@media only screen and (min-width: 601px) and (max-width: 800px) {
  * {
    margin: 0 auto;
    padding: 0;
  }


  body {
    background-color: #f2ece2;
  }

  h1{
    font-size: 28px;
    color: #1e5044;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
  }

  .ti{
    color: #aef084;
  }

  .logo {
    max-width: 123px;
    height: 100px;
    margin-left: 50px;
  }

 

  p {
    margin: 25px 25px;
    font-family: "Roboto Mono", monospace;
    line-height: 30px;
  }

  a {
    text-decoration: none;
    color: #1e5044;
  }

  nav ul li {
    list-style: none;
  }

  header {
    width: 100%;
    height: 120px;
    margin: 30px 0;
  }

  .hamburger-menu{
		float:right;
	}

  #menu_toggle{
		opacity: 0;
	}
	#menu_toggle:checked + .menu_btn > span{
		transform:rotate(45deg);
	}
	#menu_toggle:checked + .menu_btn > span::before{
		top:0;
		transform:rotate(0);
	}
	#menu_toggle:checked + .menu_btn > span::after{
		top:0;
		transform:rotate(90deg);
	}
	#menu_toggle:checked ~ .menu_box{
		left:0 !important
	}
	.menu_btn{
		position:fixed;
		top:16px;
		left: 16px;
		width: 20px;
		height: 20px;
		font-size: 10px;
		cursor: pointer;
		z-index: 2;
	}
	.menu_btn > span, .menu_btn > span::before, .menu_btn> span::after{
		display: block;
		position: relative;
		width:100%;
		height: 1px;
		background-color: #616161;
		transition-duration: .25s;
	}
	.menu_btn > span::before{
		content: '';
		top: -8px;
	}
	.menu_btn > span::after{
		content: '';
		top: 6px;
	}
	.menu_box{
		display: block;
		position: fixed;
		top:0;
		left: -100%;
		height: 100vh;
		width: 150px;
		margin: 0;
		padding: 42px 0 0 0;
		list-style: none;
		background-color: #eee;
		box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
		transition-duration: .25s;
    z-index: 1;
	}
	.menu_box li{
		border-bottom: 1px ridge #ddd;
	}
	.menu_box li:first-child{
		border-top: 1px ridge #ddd;
	}
	.menu_item{
		display: block;
		padding: 12px 24px;
		color:#15a340;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 600;
		text-decoration: none;
		transition-duration: .25s;
	}
	.menu_item:hover{
		background-color: #ccc;
	}

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 23px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 8vh;
  }


  .lista {
    display: none;
  }


  main {
    width: 601px;
    height: 3100px;
    margin: 70px auto 0;
  }

  .caixa-in, .caixa-in-e{
    float: left;
    width: 601px;
    height: auto;
    margin: 10px 0;
  }

  .caixa-in-mobile{
    display: none;
  }

  .fte{
    float: left;
    width: 100px;
    margin: 90px 15px 50px 50px;
    border: 1px solid #aef084 ;
    border-radius: 100%;
  }

  .ftd{
    float: right;
    width: 100px;
    margin: 90px 55px 50px 20px;
    border: 1px solid #aef084 ;
    border-radius: 100%;
  }

  .linha , .linhad{
    float: left;
    margin-top: 140px;
    width: 50px;
    height: 0px;
    border-top: 1px solid #aef084;
  }
  
  h2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 7px 0;
    text-align: center;
    color: #122e23;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #aef084;
  }

  .curso{
    text-align: center;
    margin: 10px 0;
    color: #122e23;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 14px;
  }

  .h3r{
    float: left;
    margin-left: 50px;
    color: #122e23;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 14px;
  }

  .h3i{
    float:right ;
    margin-right: 50px;
    color: #122e23;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 14px;
  }

  .textoe , .textod {
    float: left;
    border: 1px solid #aef084;
    border-radius: 20px;
    width: 300px;
    height: 120px;
    margin: 80px 0px 100px 20px;
  }

  .textod{
    margin: 80px 20px 100px 50px;
  }


  .logo-social-gabi , .logo-social-maria , .logo-social-renan{
    float: left;
    width: 140px;
    height: 50px;
    margin-left: 30px;
  }
  .logo-social-lucca , .logo-social-nicolas{
    float: right;
    width: 140px;
    height: 50px;
    margin-right: 35px;
  }

  .sec-gabi, .sec-lucca ,.sec-maria,.sec-nicolas, .sec-renan{
    position: absolute;
    width: 601px;
    height: 50px;
    
}

  .sec-gabi{
    top: 1680px;
  }

  .sec-lucca{
    top: 2000px;
}

  .sec-maria{
    top: 2320px;
}
  .sec-nicolas{
    top: 2640px;
}
.sec-renan{
    top: 2965px;

}

  .social{
    width: 34px;
    margin: 5px;
  }

  .git{
    position: absolute;
    width: 46px;
    margin: 5px;
    top: -6px;
  }



  footer {
    width: calc(100% - 2px);
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #1e5044;
    margin-top: 50px;
  }

  .nomes {
    display: none;
  }

  .img-footer {
    width: 82px;
    height: 53px;
    float: right;
    padding: 40px 30px 0 0;
  }

  footer h2 {
    /*font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #1E5044;*/
    display: none;
  }

  footer ul {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 14px;
    color: #122e23;
    margin: 0 0 10px 48px;
  }

  .footer-class {
    display: flex;
    line-height: 22px;
  }

  .footer{
    border-top: 1px solid black;
    width: calc(100% - 40px);
    margin-left: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
  }

  .footer h3 {
    padding-top: 15px;
    padding-left: 20px;
  }

  .span1 {
    color: #1e5044;
  }

  .span2 {
    color: #aef084;
  }
}